/* Foods page style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.foods-container {
  display: flex;
  flex-direction: column;
  padding: min(5vh, 2rem) min(7vw, 3rem);
  gap: 1.5rem;
}

.foods-container > a {
  align-self: flex-end;
}

.add-btn {
  padding: 3px 5px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px black solid;
}

table > thead {
  background-color: #ccc;
}

table td {
  border-left: 2px black solid;
  border-right: 2px black solid;
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}
